// Here you can add other styles

.sidebar .sidebar-nav {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 250px;
}

.sidebar-fixed .sidebar {
    position: fixed;
    z-index: 1019;
    width: 250px;
    height: calc(100vh - 55px);
}

.sidebar-fixed .main, .sidebar-fixed .app-footer {
    margin-left: 250px;
}

.sidebar .nav {
    width: 250px;
    flex-direction: column;
    min-height: 100%;
}

@media (max-width: 991.98px){

    .sidebar {
        position: fixed;
        z-index: 1019;
        width: 220px;
        height: calc(100vh - 55px);
        margin-left: -250px;
    }

    .sidebar-mobile-show .main {
        margin-right: -220px !important;
        margin-left: 250px !important;
    }

}
.sidebar-hidden .sidebar {
    margin-left: -250px;
}
 
.is-invalid input, .is-invalid .input-group-text{
    border-color: red;

}

.is-invalid .message, .is-invalid .input-group-text{
    color:red!important;
}
 
.input-group .rdt {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control:focus {
    color: #3e515b;
    background-color: #fff;
    border-color: #8ad4ee;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(32, 168, 216, 0.25);
}

.ReactTable .rt-th, .ReactTable .rt-td{
    overflow: visible;
}

.inlineEdit .ReactTable .rt-td{
    padding: 1px;
}

.inlineEdit .ReactTable .rt-td .form-control{
    line-height: 22px;
}
.inlineEdit .ReactTable .rt-td div.form-control{
    border-color: transparent;
    background-color: transparent;
}

.sidebar .nav-dropdown-items {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    transition: none;
    /* transition: max-height .3s ease-in-out; */
}

.ReactTable .rt-thead.-header {
    box-shadow: none; 
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.ReactTable .rt-tbody .rt-td {
    // border-right: 1px solid rgba(0,0,0,0.02);
    border-right: 1px solid rgba(0,0,0,0.05);
}

.ReactTable .rt-thead .rt-th
{
    line-height: 26px;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-th.-sort-asc {
    box-shadow: none; 
    position: relative;
}
.ReactTable .rt-thead .rt-th.-sort-desc::before,
.ReactTable .rt-thead .rt-th.-sort-asc::before {
    right: 1em;
    position: absolute;
    font-size: 22px; 
}
.ReactTable .rt-thead .rt-th.-sort-asc::before { 
    content: "\2191";
}
.ReactTable .rt-thead .rt-th.-sort-desc::before { 
    content: "\2193";
}

// .Select-menu-outer{
//     z-index: 1000;
// }
// .ReactTable .rt-td .form-control{
//  padding: 0px;
// }
.ReactTable .rt-table { 
    overflow: visible;
}
.ReactTable .rt-tbody { 
    overflow: visible;
}

.Select-menu-outer {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    // background-color: #fff;
    border: 1px solid #c2cfd6;
    // border-top-color: #e6e6e6;
    box-shadow: none;
    // box-sizing: border-box;
    // margin-top: -1px;
    // max-height: 200px;
    // position: absolute;
    // left: 0;
    // top: 100%;
    // width: 100%;
    // z-index: 1;
    // -webkit-overflow-scrolling: touch;
}

.Select-control {
    // background-color: #fff;
    // border-color: #d9d9d9 #ccc #b3b3b3;
    border-color: #c2cfd6;
    border-radius: 0px; 
    border: 1px solid #c2cfd6;
    // color: #333;
    // cursor: default;
    // display: table;
    // border-spacing: 0;
    // border-collapse: separate;
    // height: 36px;
    // outline: none;
    // overflow: hidden;
    // position: relative;
    // width: 100%;
}
.Select.is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    // background: #fff;
    border-color: #c2cfd6;
}
.Select.is-focused:not(.is-open) > .Select-control {
    border-color: #20a8d8;
}
.Select-control:hover {
    box-shadow: none;
}
.form-control:focus { 
    border-color: #20a8d8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
    // background: #fff;
}