body{
    font-family: "Open Sans",sans-serif,'Noto CJK Light', Arial;
}

// Here you can add other styles
.sidebar .sidebar-nav {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 250px;
}

.sidebar-fixed .sidebar {
    position: fixed;
    z-index: 1019;
    width: 250px;
    height: calc(100vh - 55px);
}

.sidebar-fixed .main, .sidebar-fixed .app-footer {
    margin-left: 250px;
}

.sidebar .nav {
    width: 250px;
    flex-direction: column;
    min-height: 100%;
}

@media (max-width: 991.98px){

    .sidebar {
        position: fixed;
        z-index: 1019;
        width: 220px;
        height: calc(100vh - 55px);
        margin-left: -250px;
    }

    .sidebar-mobile-show .main {
        margin-right: -250px !important;
        margin-left: 250px !important;
    }

}
.sidebar-hidden .sidebar {
    margin-left: -250px;
}
 
 
.input-group .rdt {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.ReactTable .rt-th, .ReactTable .rt-td{
    overflow: visible;
}

.inlineEdit .ReactTable .rt-td{
    padding: 1px;
}

.inlineEdit .ReactTable .rt-td .form-control{
    line-height: 22px;  
}
.inlineEdit .ReactTable .rt-td div.form-control{
    border-color: transparent;
    background-color: transparent;
    min-height: 36px; 
}
.inlineEdit .ReactTable .rt-td {
    min-height: 36px; 
}
.rt-noData{
    display: none!important;
}


.ReactTable .rt-thead.-header {
    box-shadow: none; 
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.ReactTable .rt-tbody .rt-td {
    // border-right: 1px solid rgba(0,0,0,0.02);
    border-right: 1px solid rgba(0,0,0,0.05);
}

.ReactTable .rt-thead .rt-th
{
    line-height: 26px;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-th.-sort-asc {
    box-shadow: none; 
    position: relative;
}
.ReactTable .rt-thead .rt-th.-sort-desc::before,
.ReactTable .rt-thead .rt-th.-sort-asc::before {
    right: 1em;
    position: absolute;
    font-size: 22px; 
}
.ReactTable .rt-thead .rt-th.-sort-asc::before { 
    content: "\2191";
}
.ReactTable .rt-thead .rt-th.-sort-desc::before { 
    content: "\2193";
}

// .Select-menu-outer{
//     z-index: 1000;
// }
// .ReactTable .rt-td .form-control{
//  padding: 0px;
// }
.ReactTable .rt-table { 
    overflow: visible; 
}
.ReactTable .rt-tbody { 
    overflow: visible; 
}

.Select-menu-outer {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    // background-color: #fff;
    border: 1px solid $gray-200;
    // border-top-color: #e6e6e6;
    box-shadow: none;
    // box-sizing: border-box;
    // margin-top: -1px;
    // max-height: 200px;
    // position: absolute;
    // left: 0;
    // top: 100%;
    // width: 100%;
    // z-index: 1;
    // -webkit-overflow-scrolling: touch;
}

.Select-control {
    // background-color: #fff;
    // border-color: #d9d9d9 #ccc #b3b3b3;
    border-color: $gray-200;
    border-radius: 0px; 
    border: 1px solid $gray-200;
    // color: #333;
    // cursor: default;
    // display: table;
    // border-spacing: 0;
    // border-collapse: separate;
    // height: 36px;
    // outline: none;
    // overflow: hidden;
    // position: relative;
    // width: 100%;
}
.Select.is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    // background: #fff;
    border-color: $gray-200;
}
.Select.is-focused:not(.is-open) > .Select-control {
    border-color: $blue;
}
.Select-control:hover {
    box-shadow: none;
}
.form-control:focus { 
    border-color: $blue!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
    // background: #fff;
}
.ReactTable .-pagination {
    box-shadow:none;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
    background: $blue;
    color: #fff;
}

.rdtPicker td, .rdtPicker th { 
    height: 30px;
}

.rdtCounterSeparator{
    width: 1px;
}

.rdtPicker {
    display: none;
    position: absolute;
    width: 250px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    // border: 1px solid $blue;
}
.app-header.navbar .navbar-toggler {
    color:$navbar-color;
    font-size: 14px;
    
    outline: none;

    }
   .rdtTimeToggle, .rdtTime th,   .rdtBtn {
        
        color:#337ab7;
    }
    .rdtCounter .rdtCount {
        font-size: 14px;
    }

    .rdtPicker th {
        border-bottom: 0px solid $gray-200;
    }
    .rdtPicker tfoot {
        border-top: 3px solid #fff; 
    }
    // .rdtSwitch{
    //     height:50px!important;
    // }

    .rdtPicker {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        // list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        // border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        // box-shadow: 0 6px 12px rgba(0,0,0,.175);

        border: medium none;
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
        // display: none;
        // float: left;
        // left: 0;
        list-style: none outside none;
        // position: absolute;
        text-shadow: none;
        // top: 100%;
        // z-index: 1000;
    }

    .rdtPicker:before{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        content: '';
        display: inline-block;
        position: absolute;

        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-bottom-color: rgba(0,0,0,0.2);
        top: -7px;
        left: 7px;
    }

    .rdtPicker:after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        content: '';
        display: inline-block;
        position: absolute;

        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        top: -6px;
        left: 8px;
    }

    .Select-clear {
        display: inline-block;
        font-size: 18px;
        line-height: 1.2;
    }
    .rdtPicker th.rdtNext, .rdtPicker th.rdtPrev {
        font-size: 12px;
        vertical-align: middle;
    }

    .lineButton{
        line-height: 2.5; 
        cursor: pointer;
    }
    div.form-control{
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .TestUL li{
        background: $gray-200;
        width: 250px;
        list-style: none;
        cursor: pointer;
    }

    
.is-invalid input.form-control, 
.is-invalid div.Select-control, 
.is-invalid>.input-group-text{
    border-color: red; 
}

.form-control:focus {
    color: #3e515b;
    background-color: #fff;
    // border-color: #8ad4ee!important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(32, 168, 216, 0.25);
}

.is-invalid .message, .is-invalid .input-group-text{
    color:red;
}

.message { 
    word-wrap: word-break;
    white-space: normal;
}